html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  max-width: 100%;
  border: 2px solid rgb(143, 247, 143);
}
/*General Styles*/
html{
  font-size: 62.5%;
}
body{
  max-width: 100%;
  max-height: 100%;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: 'Source Serif Pro', serif;
}
h1{
  color: slategray;
  font-size: 6rem;
  font-family: 'Poppins', monospace;
  font-weight: lighter;
}

h3{
  color: rgb(24, 4, 4);
  font-size: 2.2rem;
  font-family: 'Poppins', monospace;
  font-weight:bolder;
}
header{
  padding:4rem 0;
  background-color: lightslategrey;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: rgb(73, 73, 73);
  font-family: 'Poppins', monospace;
}
button{
  font-family: 'Poppins', monospace;
  font-size: 1.8rem;
  padding: 2% 4%;
  margin-top: 4%;
  margin-left: 60%;
}
footer{
  padding: 4% 0;
}
/*Helper Classes*/
.bg-img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*Header Section Styles*/
nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-left: 4%;
  width: 100%;
  top: 0%;
  z-index: 999;
  background-color:rgba(255, 255, 255, 0.8);
}
.links{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*Top Section Styles*/
#top{
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
}
#top, .top-section, .bg-img{
  background-image: url('../images/ricardo-gomez-angel-5YM26lUicfU-unsplash.jpeg');
  background-position: bottom;
  max-height: 25%;
  max-width: 50%;
  margin: 2%;
}
#top, .top-text{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/*My Interest Section Styles*/
#my-interest{
  padding-bottom: 0%;
}
.interests-container{
  display: flex;
  flex-wrap: wrap;
}
.interest-one, .interest-two, .interest-three, .interest-four, .interest-five, .interest-six{
  width: 50%;
}
.interest-one{
  background-image: url('../images/pedro-barros-d03GRN5LKm0-unsplash.jpeg');
}
.interest-two{
  background-image: url('../images/jessica-lam-_hF5Av0-nCs-unsplash.jpeg');
}
.interest-three{
  background-image: url('../images/elodie-oudot-TaEd6ndkRWM-unsplash.jpeg');
}
.interest-four{
  background-image: url('../images/frankie-x6vyL4YKP9c-unsplash.jpeg');
}

@media(max-width: 800px){
  #top{
    max-height: 42vh;
  }
}

@media(max-width: 500px){
  .header{
    max-height: 10vh;
  }
}